body {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #22bef7;
  font-family: "Lucida Console", Monaco, monospace;
  background: #202020;
}

body > * {
  width: 40vw;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0;
}

form > * {
  margin: .5rem 0;
  padding: 1rem;
}

form > button {
  padding: 0;
}

input {
  background: #202020;
  color: #fafafa;
  border: solid 2px #22bef7;
  border-radius: 4px;
}

[v-cloak] {
  display: none;
}